<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="distribuidoraEntities" connectionString="metadata=res://*/Modelo.ModeloDistribuidora.csdl|res://*/Modelo.ModeloDistribuidora.ssdl|res://*/Modelo.ModeloDistribuidora.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=12345;database=distribuidora&quot;" providerName="System.Data.EntityClient" />
    <add name="xls" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties=Excel 8.0" />
    <add name="Distribuidora.Properties.Settings.distribuidoraReportes" connectionString="server=localhost;User Id=root;database=distribuidora;password=12345" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="OrigenArchivosCarga" value="C:\\Users\\rblanco\\Desktop\\RutasImportar\\" />
    <add key="HojaParaImportar" value="2012$" />
    <add key="ColumnasParaImportar" value="F1,F2,F6,F7,F8" />
    <add key="ColumnaNombre" value="F7" />
    <add key="HojaParaCargar" value="2012$" />
    <add key="ColumnasParaCargar" value="direccion,prenda,codigo,nombre,saldo" />
    <add key="FiltroTiposMovimiento" value="2,3,5,4,6" />
  </appSettings>
</configuration>